@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&family=Playfair+Display:wght@400;700&family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700;800&display=swap');

/* * {
    outline: solid 2px #FA5652;
} */

body {
    margin: 0 auto;
    padding: 0;
    /* max-width: 1280px; */
    background: #FFFCFC;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    /* right: 220px; */
}

.logo a>img {
    height: 63px;
}

.nav__menu,
.footer__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0 auto;
    position: relative;
}

.nav__button>a {
    text-decoration: none;
    color: #FA5652;
    font-weight: 400;
    font-size: 18px;
}

.nav__menu>a {
    margin-left: 30px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins'sans-serif;
    color: #035755;
    font-weight: 400;
}

.nav__button {
    /* padding: 12px 24px; */
    border: 2px solid#FF383D;
    stroke: solid #FB4C47;
    margin-left: 20px;
    border-radius: 46px;
    height: 55px;
    width: 154px;
    background-color: #FFFCFC;
}

.nav__menu .nav-overview,
.nav__menu .nav-contagion,
.nav__menu .nav-symptoms,
.nav__menu .nav-prevention {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins'sans-serif;
    align-self: center;
    text-decoration: none;
}

.nav__menu .nav-overview,
.nav__menu .nav-contagion:hover,
.nav__menu .nav-symptoms:hover,
.nav__menu .nav-prevention:hover {
    color: #FB4C47;
    border-bottom: 1px solid transparent;
    border-color: #FB4C47;
}

.nav__button>a:hover {
    color: #035755;
}

.overview {
    position: relative;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 100px; */
    /* padding-top: 100px;
    padding-bottom: 10px; */
    width: 100%;
}

.overview__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left__overview,
.right__overview {
    width: 50%;
}

.right__overview>img {
    /* padding-top: 1px; */
    position: absolute;
    top: 0;
    margin-left: -55px;
    /* right: 0; */
    max-width: 800px;
    margin-top: 30px;
}

.left__overview,
.right__overview {
    margin: 5px;
}

.left__overview {
    width: 641px;
    height: 443px;
    padding-top: 150px;
}

.left__overview div>p {
    color: #FA5652;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Red Hat Display' 'sans serif';
    padding-bottom: 0px;
}

.left__overview div p>span {
    font-size: 48px;
    color: #035755;
    font-weight: 700;
    font-family: 'Red Hat Display' 'sans serif';
    text-align: center;
}

.left__overview>p {
    color: #4B4F51;
    font-size: 24px;
    font-family: 'Poppins'sans-serif;
    font-weight: 400;
}

.overview__button {
    background: #FB4C47;
    margin-left: 20px;
    border-radius: 65px;
    height: 80px;
    width: 250px;
    align-items: center;
    border: none;
}

.overview__button>a {
    color: #FFFF;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Poppins'sans-serif;
    text-decoration: none;
}

.left__about,
.right__about {
    width: 50%;
    margin: 20px;
}

.left__about>img {
    position: absolute;
    top: 0;
    /* margin-left: 10px; */
    max-width: 700px;
    left: -120px;
}

.right__about {
    display: block;
    padding-top: 150px;
    margin-right: -40px;
}

.right__about div>p {
    color: #FA5652;
    font-size: 29px;
    font-weight: 700;
    font-family: 'Red Hat Display' 'sans serif';
    padding-bottom: 0px;
}

.right__about div p>span {
    font-size: 42px;
    color: #035755;
    font-weight: 700;
    font-family: 'Red Hat Display' 'sans serif';
}

.right__about>p {
    color: #4B4F51;
    font-size: 24px;
    font-family: 'Poppins'sans-serif;
    font-weight: 400;
    line-break: 43px;
}

.about__button {
    background: rgba(250, 86, 82, .15);
    border-radius: 65px;
    height: 65px;
    width: 200px;
    align-items: center;
    border: none;
}

.about__button>a {
    color: #FA5652;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins'sans-serif;
    text-decoration: none;
}

.overview__II {
    position: relative;
    display: flex;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.contagion {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

contagion-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 10px;
}

.contagion-heading>p {
    color: #FA5652;
    font-size: 29px;
    font-weight: 700;
    font-family: 'Red Hat Display' 'sans serif';
    text-align: center;
}

.contagion-heading p>span {
    font-size: 50px;
    color: #035755;
    font-weight: 700;
    font-family: 'Red Hat Display' 'sans serif';
    text-align: center;
}

.contagion div>h2 {
    justify-content: center;
    color: #4B4F51;
    font-size: 24px;
    font-family: 'Poppins'sans-serif;
    font-weight: 400;
    align-items: center;
    line-height: 38.7px;
    text-align: center;
    padding: 16px 200px 0px 200px;
}

.transmissions {
    display: flex;
    justify-content: center;
    /* max-width: 768px; */
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapper-content {
    background: white;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    border-radius: 8px;
    height: 575px;
    width: 28%;
    margin-left: 50px;
    text-align: center;
    justify-content: center;
    border-bottom: 8px solid #FA5652;
    transition: transform 0.3s linear;
}

.wrapper-content:hover {
    transform: scale(1.1);
}

.image__wrapper {
    padding: 65px 88px 0px 88px;
}

.explanation>h3 {
    font-size: 36px;
    color: #035755;
    font-weight: 500;
    font-family: 'Red Hat Display' 'sans serif';
    text-align: center;
    padding: 10px 30px 0px 30px;
}

.explanation>p {
    justify-content: center;
    color: #4B4F51;
    font-size: 18px;
    font-family: 'Poppins'sans-serif;
    font-weight: 400;
    align-items: center;
    line-height: 38.7px;
    text-align: center;
    padding: 10px 30px 30px 30px;
}

.symptoms__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
}

.symptoms {
    padding-top: 150px;
}

.main__object {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    height: auto;
    max-width: 800px;
}

.left,
.right {
    display: block;
}

.fever {
    transition: transform 0.3s linear;
}

.fever:hover {
    transform: scale(1.1);
}

.throat__pain {
    transition: transform 0.3s linear;
    padding-top: 10px;
}

.throat__pain:hover {
    transform: scale(1.1);
}

.dypsnoea {
    transition: transform 0.3s linear;
    padding-top: 10px;
}

.dypsnoea:hover {
    transform: scale(1.1);
}

.headache {
    transition: transform 0.3s linear;
}

.headache:hover {
    transform: scale(1.1);
}

.runny__nose {
    transition: transform 0.3s linear;
    padding-top: 10px;
}

.runny__nose:hover {
    transform: scale(1.1);
}

.shaking__chills {
    transition: transform 0.3s linear;
    padding-top: 10px;
}

.shaking__chills:hover {
    transform: scale(1.1);
}

.about div>p {
    font-size: 42px;
    color: #035755;
    font-weight: 700;
    font-family: 'Red Hat Display' 'sans serif';
}

.about,
.about__image {
    width: 70%;
    margin: 20px;
}

.paragraph {
    color: #4B4F51;
    font-size: 20px;
    font-family: 'Poppins'sans-serif;
    font-weight: regular;
    /* line-height: 38.7px; */
}

.about__image>img {
    max-width: 500px;
    height: auto;
}

.rounded-list {
    overflow: hidden;
    margin-top: 50px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #FFD6D7;
    color: #FB4C47;
    border-radius: 70px;
    padding: 20px;
    font-size: 44px;
    font-weight: bold;
    font-family: 'Red Hat Display'sans-serif;
}

.overview__content {
    display: flex;
    justify-content: center;
}

.map {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    place-content: center;
}

.map__wrapper>img {
    height: auto;
    width: 1080px;
}

.contact {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.contact>p {
    font-size: 64px;
    color: #0C6C44;
    font-weight: 500;
    font-family: 'Red Hat Display' 'sans serif';
    text-align: center;
}

.contact p>span {
    font-size: 64px;
    color: #0C6C44;
    font-weight: 600;
    font-family: 'Red Hat Display' 'sans serif';
    text-align: center;
}

.box {
    position: relative;
    display: flex;
    align-items: center;
    width: 500px;
    height: 60px;
    left: 30%;
    margin-top: 20px;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    border-radius: 57px;
}

input {
    position: relative;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    box-sizing: border-box;
    background: #FFFF;
    width: 500x;
    border-radius: 57px;
    border: none;
    outline: none;
    padding: 1px 2px 5px 15px;
}

.snd {
    position: absolute;
    top: 10px;
    /* bottom: 0; */
    right: 20px;
    width: 100px;
    height: 40px;
    border-radius: 57px;
    background: #F44A45;
    border: none;
    outline: none;
    color: #FFFF;
    font-size: 18px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.footer__menu>a {
    margin-left: 30px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins'sans-serif;
    color: #035755;
    font-weight: 400;
}

.footer__menu>a:hover {
    color: #FA5652;
}

.social__links a>img {
    margin-left: 15px;
    text-decoration: none;
    margin-right: 18px;
}

.year>p {
    display: flex;
    padding-top: 20px;
    max-width: 1280px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-bottom: 18px;
    font-size: 18px;
    font-family: 'poppins' sans-serif;
    font-weight: regular;
    text-decoration: none;
    color: #4B4F51;
}

.year p>a {
    font-size: 18px;
    font-family: 'poppins' sans-serif;
    font-weight: regular;
    text-decoration: none;
    color: #4B4F51;
}